
<h2>Reset Password Template</h2>
<form id="adminUpdatePasswordForm">
	<div ng-controller="adminUpdatePasswordController">
		<table id="adminUpdatePasswordTable">
			<tr>
				<td align="left"><label>Employee Id </label></td>
				<td><input class="form-control" type="text" ng-model="empId"
					id="empId" autocomplete="false" list="employeeIds"> <datalist
						id="employeeIds">
						<option value="Please Select">Please Select</option>
					</datalist> <span id="checkEmpIderrorMessage"
					style="color: red; display: none">Employee ID doesn't exists</span>
				</td>
			</tr>


			<tr>
				<td align="left"><label>New Password </label></td>
				<td><input class="form-control" type="password"
					ng-model="newPassword" id="newPassword"
					ng-click="adminCheckEmployeeId()"></td>
			</tr>
			<tr>
				<td align="left"><label>Re-Enter Password </label></td>
				<td><input class="form-control" type="password"
					ng-model="reEnterPassword" id="reEnterPassword"></td>
			</tr>
			<tr>
				<td align="right"><br>
					<button type="button" ng-click="adminUpdatePassword()"
						class="btn btn-success">Reset Password</button></td>
				<td align="right"><br> <input id="reset" type="reset"
					class="btn btn-success" /></td>
			</tr>
		</table>
	</div>
</form>
