<h2>Welcome To Admin Dahboard</h2>
<div id="adminPermissionDashboard" ng-controller="adminDashBoardController" class="form-group">
<button id="accessPermissionFromAdminBtn" class="btn btn-primary btn-lg" ng-click="accessPermissionSubmit()">Access Permission Templete</button>
<button id="accessEmployeeDetailsFromAdminBtn" class="btn btn-primary btn-lg" ng-click="accessEmpDetails()">Access Details</button>
<button id="updatePasswordBtn" class="btn btn-primary btn-lg" ng-click="updatePassword()">Update Password</button>
</div>