
<div id="employeeLeavetemplate" ng-controller="managerHandleLeaveRequest" class="form-group">
<h1>Welcome manager</h1>
<button id="approveRejectBtn" class="btn btn-primary btn-lg" ng-click="handleLeaveRequests()">Approve/Reject leaves</button>
<button id="showReportingEmployeesDetails" class="btn btn-primary btn-lg"ng-click="showReportingEmployeesDetails()">Employees Reporting</button>
<button id="generateReportBtn" class="btn btn-primary btn-lg" onclick="generateReport(this)" style="display: none;">Generate Report</button>
<div id="handleLeaveRequestTable"></div>
</div>